.link {
    text-decoration: underline;
    color: #375fe1;
    cursor: pointer;
    font-size: 1rem;
}

.link:hover {
    color: blue;
}

.icon {
    width: 20px;
}

.password-input {
    display: flex;
    align-items: center
}

.eye {
    position: absolute;
    top: -10px;
    z-index: 1000;
}