<div class="form-container mat-elevation-z5 marginT-30">
    <h1>Welcome!</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div *ngIf="loginForm.errors?.['userNotFound']" class="error">
            Login failed!
        </div>
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" type="email" autocomplete="off">
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                Email format is not valid
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required
            </mat-error>
        </mat-form-field>
        <div class="center marginT-10">
            <button class="primary-btn w100" mat-button type="submit">
                Login
            </button>
        </div>
        <div class="center marginT-10">
            <button class="w100" mat-button (click)="signInWithGoogle()">
                <img class="icon" src="assets/images/google-icon.png"> Sign In with Google
            </button>
        </div>
        <div class="center marginT-10">
            <button class="w100" mat-button (click)="signInWithFacebook()">
                <img class="icon" src="assets/images/facebook-icon.png"> Sign In with Facebook
            </button>
        </div>

        <span class="center marginT-10"><a class="link" [routerLink]="[PATH.REGISTRATION]">Registration</a></span>
    </form>
</div>