<div class="form-container mat-elevation-z5 marginT-30">
    <h1>Registration</h1>
    <form #form="ngForm" [formGroup]="registrationForm" (ngSubmit)="registration()">
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="displayName">
            <mat-error *ngIf="displayName?.errors?.['required']">
                Required field
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required']">
                Required field
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                Email format is not valid
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choose your gender</mat-label>
            <mat-select>
                <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{ gender }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]=picker></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">
                Required field
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password">
            <mat-error *ngIf="confirmPassword?.errors?.['required']">
                Required field
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="form?.submitted && registrationForm?.errors?.['passwordsMismatch']">
            The password and the confirm password is not the same
        </mat-error>
        <div class="center marginT-10">
            <button class="primary-btn" mat-raised-button color="primary" type="submit">
                Sign Up
            </button>
        </div>
        <div class="center marginT-10">
            <a class="link" [routerLink]="[PATH.LOGIN]">Back to login</a>
        </div>
    </form>
</div>