<div class="comment-dialog">
    <div class="comment-area">
        <div class="comment-container" *ngFor="let comment of (comments$ | async)?.reverse()">
            <div class="main">
                <div class="header">
                    <span class="comment-creator">
                        <a [routerLink]="[PATH.PROFILE]" [queryParams]="{ id: comment.creatorId }" mat-dialog-close>
                            {{ comment.creatorName }}
                        </a>
                    </span>
                </div>
                <p>{{ comment.text }}</p>
            </div>
        </div>
    </div>
    <div class="input-area">
        <mat-form-field>
            <input matInput placeholder="Add comment..." [formControl]="commentControl" (keydown.enter)="sendComment()">
            <button *ngIf="commentControl.value" mat-icon-button matSuffix (click)="sendComment()">
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>