<div class="settings-container">
    <div class="settings">
        <label>Adatvédelmi beállítások:</label>
        <div class="field">
            <mat-slide-toggle>Privát profil</mat-slide-toggle>
        </div>
    </div>
    <div class="settings">
        <label>Jelszó módosítása:</label>
        <div class="field">
            <label>Jelenlegi jelszó:</label>
            <input type="password">
        </div>
        <div class="field">
            <label>Új jelszó:</label>
            <input type="password">
        </div>
        <div class="field">
            <label>Új jelszó megerősítése</label>
            <input type="password">
        </div>
    </div>
</div>