<div class="settings-container">
    <div class="settings">
        <form [formGroup]="languageForm" (ngSubmit)="saveLanguage()">
            <div class="title">{{'language' | translate }}:</div>
            <div class="field">
                <mat-form-field>
                    <mat-select formControlName="selectedLanguage">
                        <mat-option *ngFor="let language of languages" [value]="language">
                            {{ language | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="center marginT-10">
                <button class="primary-btn" mat-raised-button type="submit">
                    {{ 'save' | translate }}
                </button>
            </div>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div class="settings">
        <form #form="ngForm" [formGroup]="passwordForm" (ngSubmit)="savePassword()">
            <div class="title">{{ 'changePasswordTitle' | translate }}:</div>
            <div class="field">
                <mat-form-field>
                    <input matInput [placeholder]="'password' | translate" type="password" formControlName="password">
                    <mat-error *ngIf="password?.errors?.['required']">
                        {{ 'requiredField' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field>
                    <input matInput [placeholder]="'confirmPassword' | translate" type="password"
                        formControlName="confirmPassword">
                    <mat-error *ngIf="password?.errors?.['required']">
                        {{ 'requiredField' | translate }}
                    </mat-error>
                    <mat-error *ngIf="form?.submitted && passwordForm?.errors?.['passwordsMismatch']">
                        {{ 'passwordMismatchError' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="center marginT-10">
                <button class="primary-btn" mat-raised-button type="submit">
                    {{ 'save' | translate }}
                </button>
            </div>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div class="settings">
        <div class="center marginT-10">
            <button color="warn" mat-raised-button (click)="confirmAccountDeletion()">
                {{ 'deleteAccount' | translate }}
            </button>
        </div>
    </div>
</div>
