<mat-tab-group mat-align-tabs="center" mat-stretch-tabs="false" animationDuration="0ms">
    <mat-tab [label]="'streams' | translate">
        <ng-template matTabContent>
            <stream-list></stream-list>
        </ng-template>
    </mat-tab>
    <mat-tab [label]="'feeds' | translate">
        <ng-template matTabContent>
            <feed></feed>
        </ng-template>
    </mat-tab>
    <mat-tab [label]="'explore' | translate">
        <ng-template matTabContent>
            <explorer></explorer>
        </ng-template>
    </mat-tab>
</mat-tab-group>
