.chat-bar {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.chat-area {
    height: calc(100vh - 270px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-area> :first-child {
    margin-top: auto;
}

.input-area>mat-form-field {
    width: 100%;
}

.chat-bubble-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble-container.sender {
    justify-content: flex-end;
}

.chat-bubble-container.sender>.chat-bubble {
    color: white;
    background: #1c1c1c;
}

.chat-bubble {
    background: #9fd6f8;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 16px;
    border-radius: 8px;
    width: fit-content;
    position: relative;
}

.chat-bubble>.chat-date {
    position: absolute;
    bottom: 2px;
    right: 8px;
}

.messages-header {
    display: flex;
    margin-bottom: 8px;
}

.user-name {
    display: flex;
    justify-content: flex-start;
}
