<div scrollable class="profile" *ngIf="user$ | async as user" (scrollPosition)="onScroll($event, user.uid)">
    <div class="user-container text-center marginT-30">
        <h1>{{ user.displayName }}</h1>
        <div class="profile-image">
            <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/user-placeholder.jpg'">
            <div *ngIf="story$ | async as story" class="story" (click)="showStory(story)"></div>
            <button *ngIf="isCurrentUser" mat-mini-fab [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
            </button>
            <mat-menu #menu>
                <button mat-menu-item (click)="PhotoInputField.click()">
                    {{ 'changeProfilePicture' | translate }}
                </button>
                <button mat-menu-item (click)="StoryInputField.click()">{{ 'addStory' | translate }}</button>
                <input #PhotoInputField type="file" hidden (change)="uploadImage($event, user)">
                <input #StoryInputField type="file" hidden (change)="addStory($event, user)">
            </mat-menu>

        </div>
        <div class="counter-container marginT-10">
            <div class="counter">
                <span class="counter-number" (click)="showFollowerDialog(user, 0)">{{ followerCount }}</span>
                <div class="counter-label">{{ 'followers' | translate }}</div>
            </div>
            <div class="counter">
                <span class="counter-number-small">{{ postCount | async }}</span>
                <div class="counter-label">{{ 'posts' | translate }}</div>
            </div>
            <div class="counter">
                <span class="counter-number" (click)="showFollowerDialog(user, 1)">{{ followingCount }}</span>
                <div class="counter-label">{{ 'following' | translate }}</div>
            </div>
        </div>
        <div *ngIf="!isCurrentUser" class="follow-button">
            <ng-container *ngIf="isFollowing ; then unfollowButton else followButton">
            </ng-container>
        </div>
        <div class="user-info">
            <span *ngIf="user.fullName" class="font-size-16 bold">
                {{ user.fullName }}
            </span>
        </div>
        <div>
            <textarea class="description" type="text" maxlength="60" [(ngModel)]="user.description"
                [disabled]="!isCurrentUser" (blur)="updateDescription($event, user)">
            </textarea>
        </div>
        <ng-template #followButton>
            <button mat-button class="button-black" (click)="toggleFollow(user.uid)">{{ 'follow' | translate }}</button>
        </ng-template>
        <ng-template #unfollowButton>
            <button mat-button class="button-blue" (click)="toggleFollow(user.uid)">
                {{ 'unfollow' | translate }}
            </button>
        </ng-template>
    </div>
    <div *ngIf="isCurrentUser" class="button-container">
        <button mat-button (click)="startLiveStream()" class="bold">
            {{ 'goLive' | translate }} <mat-icon color="warn">videocam</mat-icon>
        </button>
        <button mat-button (click)="addPost()">
            {{ 'createPost' | translate }}
        </button>
        <button mat-button (click)="navigateToUserSettings()">
            {{ 'editProfile' | translate }}
        </button>
    </div>
    <mat-divider></mat-divider>
    <post-grid [cols]="3" [posts]="posts"></post-grid>
    <loading-spinner *ngIf="isLoading"></loading-spinner>
</div>