.user-container {
    display: block;
    max-width: 350px;
    margin: auto;

    background: none;
    padding: 48px;
    border-radius: 16px;
}

.profile-image>img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-image {
    position: relative;
}

.profile-image>button {
    position: absolute;
    bottom: 10px;
    right: 25%;
}

.description {
    background: none;
    width: 90%;
    border: none;
    resize: none;
    color: black;
    font-size: 14px;
}

.follow-button {
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.story {
    position: absolute;
    top: -2px;
    left: 113px;
    width: 120px;
    height: 120px;
    background: none;
    /* Transparent black background */
    border-radius: 100%;
    cursor: pointer;
    /* Add border styles as needed */
    border: 2px solid rgb(234, 211, 0);
}