<div class="video-container">
    <div class="column-30">
        <button class="primary-btn" mat-raised-button color="primary" #recordButton (click)="start()"
            *ngIf="!isRecording">Start Recording</button>
        <button class="primary-btn" mat-raised-button color="primary" #recordButton (click)="stop()"
            *ngIf="isRecording">Stop Recording</button>
    </div>
    <div class="column-50">
        <video #videoElement autoplay></video>
    </div>
    <div class="column-10"></div>
    <div class="chat-bar">
        <!-- Your chat bar content goes here -->
    </div>
</div>