<h1 mat-dialog-title>Forgot Password</h1>
<div mat-dialog-content>
    <p>Please enter your e-mail address!</p>
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" [formControl]="emailForm">
        <mat-error *ngIf="emailForm?.errors?.['email']">
            Email format is not valid
        </mat-error>
    </mat-form-field>
    <div *ngIf="userNotFoundError" class="error">
        User not found with this e-mail address!
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="sendEmail()" cdkFocusInitial
        [disabled]="!emailForm?.value || emailForm?.errors">Send</button>
</div>
