<div class="forgot-password-dialog">
    <h1 mat-dialog-title>{{ 'forgotPassword' | translate }}</h1>
    <div mat-dialog-content>
        <p>{{ 'enterEmailMessage' | translate }}</p>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" [formControl]="emailForm">
            <mat-error *ngIf="emailForm?.errors?.['email']">
                {{ 'emailNotValid' | translate }}
            </mat-error>
        </mat-form-field>
        <div *ngIf="userNotFoundError" class="error">
            {{ 'userNotFoundMessage' | translate }}
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="sendEmail()" cdkFocusInitial [disabled]="!emailForm.value || emailForm.errors">
            {{ 'send' | translate }}
        </button>
    </div>
</div>
