.mat-dialog-content {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
}


.forgot-password-dialog {
    background: #f5f5f5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
