.messenger {
    display: flex;
    height: calc(100vh - 70px);
}

.chat-list {
    width: 30%;
    margin: 16px;
    background: #e1e1e1;
    border-radius: 16px;
}

.messages {
    width: 70%;
    margin: 16px;
    border-radius: 16px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.92);
}

.search-input {
    margin: 24px;
}

.chat-title {
    display: flex;
    justify-content: space-between;
}

.chat-name {
    font-weight: 500;
}

.chat-date {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}

.messages-header {
    display: flex;
    margin-bottom: 8px;
}

.messages-header>img {
    border-radius: 100%;
    object-fit: cover;
    margin-right: 15px;
    height: 30px;
    width: 30px;
}

.messages-header>h2 {
    margin: 0;
}

.chat-area {
    height: calc(100vh - 270px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-area> :first-child {
    margin-top: auto;
}

.input-area>mat-form-field {
    width: 100%;
}

.input-area {
    padding-top: 16px;
    padding-bottom: 8px;
}

.chat-bubble-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble-container.sender {
    justify-content: flex-end;
}

.chat-bubble-container.sender>.chat-bubble {
    color: white;
    background: #1c1c1c;
}

.chat-bubble {
    background: #9fd6f8;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 16px;
    border-radius: 8px;
    width: fit-content;
    position: relative;
}

.chat-bubble>.chat-date {
    position: absolute;
    bottom: 2px;
    right: 8px;
}

.chat-bubble-container.sender>.chat-bubble>.chat-date {
    color: white;
}

::-webkit-scrollbar-track {
    margin-left: 100px;
    margin-right: 100px;
}