mat-toolbar {
    justify-content: space-between;
}

.mat-toolbar {
    background: #1c1c1c;
    color: rgba(255, 255, 255, 0.87);
}

.content {
    padding: 32px;
}

.main-title {
    flex: auto;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.notification-icon {
    cursor: pointer;
    margin-left: 0.5em;
}

.avatar {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    width: 40px;
    height: 40px;
}
