<mat-card *ngIf="data" class="mat-elevation-z0">
    <mat-card-header>
        <img mat-card-avatar class="pointer"
            [src]="data.user.photoURL ? data.user.photoURL : 'assets/images/user-placeholder.jpg'"
            (click)="navigateToUserProfile(data.userId)" mat-dialog-close>
        <mat-card-title class="pointer" (click)="navigateToUserProfile(data.userId)" mat-dialog-close>
            {{ data.user.displayName }}
        </mat-card-title>
        <mat-card-subtitle>{{ data.timestamp | date }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="post-content" [src]="data.url">
    <mat-card-content class="post-description">
        {{ data.description }}
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item favorite" [ngClass]="{ red: liked }"
            (click)="toggleLike($event, data.id)">favorite</mat-icon>
        {{ data.likes?.length ? data.likes?.length : 0 }}
        <mat-icon class="action-item" (click)="addComment()">chat_bubble_outline</mat-icon>
    </mat-card-actions>
</mat-card>