.action-item {
    margin-left: .5em;
    cursor: pointer;
    transition-duration: 0.3s;
}

.favorite:hover {
    color: red;
}

.red {
    color: red;
}

.post-content {
    height: 400px;
    width: 400px;
    margin: auto;
    object-fit: cover;
}

.post-description {
    margin: 0.5em !important;
}

mat-card {
    margin: 0 10px;
    background: none;
}
